<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Vaihda salasana</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.container {
			max-width: 600px;
			margin-top: 50px;
		}

		.card {
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.card-header {
			text-align: center;
		}

		.card-body {
			padding: 20px;
		}

		.form-group {
			margin-bottom: 20px;
		}

		.error-message {
			color: #f00;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h1>Vaihda salasana</h1>
			</div>
			<div class="card-body">
				<div th:if="${error}" class="alert alert-danger">
					<p th:text="${error}"></p>
				</div>
				<form th:action="@{/changepassword}" method="post">
					<div class="form-group">
						<label for="currentPassword">Nykyinen salasana:</label>
						<input type="password" class="form-control" id="currentPassword" name="currentPassword"
							required>
					</div>
					<div class="form-group">
						<label for="newPassword">Uusi salasana:</label>
						<input type="password" class="form-control" id="newPassword" name="newPassword" required>
					</div>
					<button type="submit" class="btn btn-primary">Tallenna</button>
					<a href="/crm" class="btn btn-danger">Peruuta</a>
				</form>

			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>