<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />


<head>
	<title>Server Programming with Spring Boot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>CRM</h1>
	<table class="table table-striped">
		<tr>
			<th>Meeting Title</th>
			<th>Customer</th>
		</tr>
		<tr th:each="meeting : ${meetings}">
			<td th:text="${meeting.meetingTitle}"></td>
			<td th:text="${meeting.customer?.name}"></td>
		</tr>
	</table>
	<a href="/addmeeting" class="btn btn-success">Add a new meeting</a> <br>
	<a href="/addcustomer" class="btn btn-success">Add a new customer</a>
</body>

</html>